---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import Sidemenu from "../components/sidemenu.astro";
---

<Layout>
    <Header />
    <main class="w-full h-full flex">
        <Sidemenu />
        <div class="profile-field flex flex-col px-20 w-full h-full">
            <h1 class="text-4xl my-8">User Profile</h1>
            <div class="flex flex-col gap-4 p-4">
                <div>
                    <p class="text-xl">Username: <span id="username" class="pl-4"></span></p>
                </div>
                <div>
                    <p class="text-xl">First name: <span id="firstname" class="pl-4"></span></p>
                </div>
                <div>
                    <p class="text-xl">Last name: <span id="lastname" class="pl-4"></span></p>
                </div>
            </div>
            <button type="submit" id="logout-btn" class="w-[130px] shadow-[0_0_1px] p-2 rounded-[20px] mt-6 cursor-pointer">Log out</button>
        </div>
    </main>
    <Footer />
</Layout>

<script>
    const username = document.getElementById("username") as HTMLSpanElement
    const firstname = document.getElementById("firstname") as HTMLSpanElement
    const lastname = document.getElementById("lastname") as HTMLSpanElement
    const logoutBtn = document.getElementById("logout-btn") as HTMLButtonElement

    const getProfile = async() => {
        const res = await fetch(`http://localhost:3000/user/check-auth`, {
            method: "GET",
            credentials: "include"  
        })
        if (!res.ok) {
            console.error("Something went wrong")
            return
        }
        const data = await res.json()
        console.log(data)
        username.innerHTML = data.username
        firstname.innerHTML = data.firstname
        lastname.innerHTML = data.lastname
    }

    const logoutUser = async() => {
        const res = await fetch(`http://localhost:3000/user/logout`, {
            method: "GET",
            credentials: "include"
        })

        if (!res.ok) {
            console.error('something went wrong')
            return
        }
    }

    logoutBtn.addEventListener('click', async(e) => {
        e.preventDefault()
        await logoutUser()

        setTimeout(() => {
            window.location.href='/'
        }, 1000);
        console.log(`User logged out successfully`)

    })

    getProfile()
    
</script>